Source: dxp-cli
Version: 0.3.5-beta
Section: main
Priority: standard
Maintainer: Dexponent <contributors@dexponent.com>
Build-Depends: debhelper-compat (= 13)
Package: dxp-cli
Rules-Requires-Root: yes
Architecture: amd64
Multi-Arch: foreign
Depends:
Description: A fork of PolyCli by Polygon Technology
